/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

body {
  background: linear-gradient(0deg, rgb(13, 24, 28) 0%, rgba(9,9,9,1) 100%);
  font-family: Inter, sans-serif;
}

.faded-hover-effect {
  transition: opacity 200ms ease-in-out 200ms;
  opacity: 40%;
  &:hover {
    opacity: 100%;
    transition-delay: 0ms;
  }
}
.force-hover-effect {
    opacity: 100%;
}

.scrollableArea {
  scrollbar-color: #a5a5a5 transparent;
  scrollbar-width: none;
}
/*
.scrollableArea::-webkit-scrollbar {
    width: 8px;
}

.scrollableArea::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.scrollableArea::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}
*/

.thin-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}
.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 9999px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}